body {
    background-color: #ddd;
}

header {
    background-color: #aaa;
}

footer {
    background-color: #aaa;
}

section {
    display: inline-block;
    vertical-align: top;
    width: 66%;
    background-color: #ccc;
}

aside {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    background-color: #888;
}

