/* This is the same as example 1, but the CSS is slightly better organised */

body {
    margin:auto;
    width: 80%;
}

section {
    width: 66%;
}

aside {
    width: 33%;
}

.first section {
    float: left;
}

.first aside {
    float: right;
}

.second section {
    float: right;
}

.second aside {
    float: left;
}