ol.upper-alpha {
    list-style-type: upper-alpha;
}

ol.lower-alpha {
    list-style-type: lower-alpha;
}

ol.lower-roman {
    list-style-type: lower-roman;
}

ol.lower-greek {
    list-style-type: lower-greek;
}

ol.upper-roman {
    list-style-type: upper-roman;
}

ul.circle {
    list-style-type: circle;
}

ul.disc {
    list-style-type: disc;
}

ul.square {
    list-style-type: square;
}