body * {
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*='column-']{
    padding-right: 10px;
}

[class*='column-']:last-of-type {
    padding-right: 0;
}

.column {
    float: left;
    width: 11.11%;
}

.column-1 {
    width: 11.11%;
}

.column-2 {
    width: 22.22%;
}

.column-3 {
    width: 33.33%;
}

.column-4 {
    width: 44.44%;
}

.column-5 {
    width: 55.55%;
}

.column-6 {
    width: 66.66%;
}

.column-7 {
    width: 77.77%;
}

.column-8 {
    width: 88.88%;
}

.column-9 {
    width: 100%;
}
