body {
    margin:auto;
    width: 80%;
}

.first section {
    width: 66%;
    float: left;
}

.first aside {
    width: 33%;
    float: right;
}

.second section {
    width: 66%;
    float: right;
}

.second aside {
    width: 33%;
    float: left;
}