body {
    background-color: #ddd;
}

header {
    background-color: #aaa;
}

footer {
    clear: both;
    background-color: #aaa;
}

section {
    float: left;
    width: 33%;
    background-color: #ccc;
}


